page{
  font-size: 15px;
  background: lightsalmon;
}

label{
  font-size: 18px;
  text-align: center;
}

button {
  padding: 1%;
  border-radius: 5px;
  background-color: darken(#ff8d7e, 5%);
  font-weight: bold;
}

ActionBar {
  background-color: #ffaf82;
  color: #ffffff;
}